html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#f39766;

}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;

}

.nav p {
    padding: 10px 50px;
    font-size: 1.5rem;
}

.logo img {
    width: 150px;
    height: 150px;
}

.banner h2 {
    color: black;
    font-size: 3rem;
}

.banner {
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mission {
    height: 350px;
    background-color:#f39766;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mission h2  {
    font-size: 2.5rem;
}

.mission p {
    font-size: 1.3rem;
}

.products {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.products p {
    color: black;
    font-weight: 700;
}
.products img {
    height: 300px;
    width: 400px;
    padding: 30px 15px;
    
}
.product {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.employees {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    background-color:#f39766;
}
.emplo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.footer {
    height: 150px;


}
.employees img {
 width: 300px;
 height: 350px;
 border-radius: 10px;
}
.footer {
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
}